* {
    font-family: 'Roboto Slab', serif;
    color: #111;
    font-weight:400;
    font-size:0.9em;
}

button:focus{
	outline:1px solid red;
}
.bold {
	font-weight:700;
}

body,html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	cursor:pointer;
}

.content,.canvas {
	width:100%;
	height:100%;
}

.title {
	position:relative;
	margin:0;
}

h2.title{
	margin:0 0 10px 0;
	font-size:0.7em;
}

.content {
	position:absolute;
	top:0;
	left:0;
}
.controls {
	position:relative;
	z-index:2;
	padding:10px;
	margin:10px;
	float:left;
	background-color:rgb(255,255,255);
	border:1px solid #ccc;
}

.show{
	z-index:2;
	position:relative;
	margin:10px;
}

.shadow {
	-webkit-box-shadow: 0px 4px 18px -1px rgba(0,0,0,0.72);
	   -moz-box-shadow: 0px 4px 18px -1px rgba(0,0,0,0.72);
	        box-shadow: 0px 4px 18px -1px rgba(0,0,0,0.72);
}

.shadow-inset {
	-webkit-box-shadow: inset 1px -6px 6px -4px rgba(0,0,0,0.50);
	   -moz-box-shadow: inset 1px -6px 6px -4px rgba(0,0,0,0.50);
	        box-shadow: inset 1px -6px 6px -4px rgba(0,0,0,0.50);
}
.center{
	text-align:center;
}
.clearer {
	clear:both;
}

button {
	text-align:center;
	cursor:pointer;
	background:white;
	border:1px solid grey;
	margin-top:10px;
}

.clear, .hide {
	margin-left:10px;
}

